/* Medium Layout: 1280px. */
@media only screen and (min-width: 992px) and (max-width: 1200px) { 

    .member-social-bookmarks li span {
        font-size: 17px;
    }
    .single-count-wrapper p {  
        font-size: 30px;
    }
    .send-messageBox input[type="submit"] {

        width: 30%;
    }
    .product-bottom {
        margin-left: 24%;

    }
    .single-product-item {
        padding-top: 40px;
    }
    .singleTopSell-product {

        width: auto;
    }


    .related-product .product-bottom {
        margin: 0;
        padding: 0 8px;
        text-align: center;
    }


}

@media only screen and (max-width: 992px){
    .advisor .single-team-member {
        margin-top: 50px;
    }
    .team-section.advisor .col-md-3:nth-child(1) .single-team-member,.team-section.advisor .col-md-3:nth-child(2) .single-team-member{
        margin-top: 0
    }

    .RightSide-barSection {
        margin: auto;
        width: calc(100% - 30px);
    }

    .blog-wrap .col-md-6:nth-child(2) .single-news-item {
        margin-top: 30px;
        padding-top: 20px;
    }

    #xs90 {
        height: 60px !important;
    }
    .faq-collapse {
        margin-top: 50px;

    }
    .product-bottom{text-align: center;margin-left: 0}
    .productDetails-Left {
        width: auto;
    }
    .related-product .product-bottom {
        margin-left: 0;
    }

    .contact-page .message-boxContent {
        margin-top: 70px;
    }

}






/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) { 


    .section-padding{padding: 80px 0}

    .header-content .logo {
        margin-top: 25px;
    }
    .header-menu li a {
        padding: 10px 10px;
        font-size: 13px;
    }
    .slider-content-wrapper h2 {
        font-size: 45px;
    }

    .theme-2 .slider-content-wrapper {
        text-align: center;
    }

    .theme-2 .slider-content-wrapper h2 {
        font-size: 40px;
        line-height: 60px;
    }

    .slider-content-wrapper h3 {
        font-size: 30px;
    }
    .single-describing-blog {
        margin-bottom: 20px;
    }
    .hero-slier-wrapper .owl-nav div {
        height: 70px;
        line-height: 70px;
        margin-top: -35px;
        width: 50px;
    }
    .skill-progress-bar-wrapper .single-bar-filler-item:nth-child(4) {
        margin-bottom: 0;
    }
    .theme-2.skill-section .pdt-100 {
        padding-top: 80px;
    }

    .video-right-area p {
        margin: 0;
    }

    .about-us-section {
        padding-bottom: 65px;
    }

    .finance-club {
        padding-bottom: 30px;
    }

    .video-right-area {
        padding-top: 40px;
    }

    .single-count-wrapper p {
        font-size: 22px;
    }
    p.counter-number {
        font-size: 30px;
    }
    .contact-page textarea {
        margin-top: 124px;
    }
    .client-feedback .owl-dots {

        left: 60%;
    } 
    .footer-area h4 {
        margin-top: 40px;
    }
    .footer-area input[type="email"] {
        padding: 6px 20px;
    }
    .footer-logo-content {
        text-align: center;
    }
    .footer-area a.submit {
        margin-left: -4px;
        padding: 5px 12px 8px;
    }
    .pdBxs-0{padding-bottom: 0}

    /* single-service-page */

    h2{color: red;}

    .childLeft-wrpper .video-right-area {
        padding-top: 0;
    }
    .childLeft-Bottom-planning-section .absolute-paragraph {
        margin-bottom: 35px;
        font-size: 13px;
    }
    .childLeft-Bottom-planning-section .absolute-paragraph i {
        font-size: 10px;
        top: 10px;
    }

    .child-services {
        margin-top: 40px;
    }

    .RightSide-barSection form {
        margin-bottom: 20px;
        margin-top: 50px;
    }

    .advisor-locationDetails {
        margin-top: 30px;
    }

    /* shop page*/
    .product-img > img {
        height: 180px;

    }

    .product-bottom h4 a {
        font-size: 16px;
    }
    .single-product-item {
        padding-top: 40px;
    }
    .price span {

        font-size: 18px;
        margin-right: 10px;
    }
    .single-product-item {

        height: 380px;
        margin-bottom: 50px;
    }
    .price i.fa.fa-cart-plus {

        margin-left: 10px;
    }

    .product-area-wrapper .pagination-wrap {
        margin-top: 0;
    }
    .cartBtn-wrap input {
        width: 50%;
    }
    .productCart-details p {
        margin-top: 8px;
    }

    .cartBtn-wrap {
    }



}
/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) { 
    .slider-content-wrapper .contact-btn{margin-top: 50px;}

    .slicknav_menu{display: block;}

    .header-top {
        text-align: center;
    }
    .header-top .col-sm-6.text-right {
        text-align: center;
    }
    p.absolute-info {
        padding-left: 25px;
    }
    p.absolute-info i {
        font-size: 17px;
        top: 3px;
    } 
    .header-content .logo {
        margin-bottom: 40px;
        margin-top: 0;
        text-align: center;
    }
    .header-bottom p {
        font-size: 18px;
        padding-top: 16px;
    }

    .header-bottom .absolute-info i{font-size: 22px} 

    .header-menu{display: none}

    .slider-content-wrapper h2 {
        font-size: 25px;
    }
    .hero-slier-wrapper .owl-nav div {
        display: none !important;
    }
    .theme-2.skill-section .col-md-5 > h2 {
        padding-top: 0;
    }
    .single-slider-wrapper h3 {
        font-size: 18px;
    }
    .contact-btn {
        padding-bottom: 110px;
        padding-top: 50px;
    }
    .contact-btn a {
        font-weight: 500;
        padding: 7px 18px;
    }
    .hero-slier-wrapper .owl-dots {
        bottom: 20px;
        left: 45%;
    }
    .single-describing-blog {
        margin-bottom: 20px;
    }
    .section-padding{padding: 50px 0}

    .finance-club h2 {
        font-size: 25px;
    }
    .finance-club h3 {
        font-size: 20px;
    }
    .skill-section .col-md-5 > h2 {
        padding-bottom: 20px;
        padding-top: 20px;
        font-size: 25px;
    } 
    .video-right-area > h2 {
        font-size: 25px;
        margin: 0;
        padding-bottom: 10px;
        padding-top: 25px;
    }
    h4.absolute-heading {
        font-size: 16px;
    }
    .section-tittle h2 {
        font-size: 25px;
    }
    .cta-tableCell h2 {
        font-size: 18px;
    }
    .cta-btn {
        font-size: 13px;
        padding: 6px 20px;
    }
    .theme-2 .col-md-6:nth-child(2) a {
        margin-bottom: 20px;
    }
    .theme-2 .slider-content-wrapper{text-align: center;}

    .logo > img {
        max-width: 200px;
    }
    .pdBxs-0{padding-bottom: 0}

    .pdt-100{padding-top: 50px;}

    p.counter-number {
        font-size: 25px;

    }
    .theme-2 .slider-content-wrapper h2 {
        line-height: 50px;
    }
    .slider-content-wrapper .contact-btn {
        margin-top: 30px;
    }
    .single-count-wrapper p {
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 10px
    } 
    .single-count-wrapper {

        padding-bottom: 20px;
    }

    .count-section-wrapper {
        padding-top: 50px;

    }
    .news-alert-bottom p.absolute-info {
        font-size: 18px;
        height: 51px;
        padding-left: 38px;
        padding-top: 14px;
        width: 68px;
    }
    .news-alert-bottom p.absolute-info img {

        max-width: 20px;
        top: 20px;
    }
    .member-social-bookmarks li span {

        font-size: 16px;
    }
    .client-feedback h2 {
        font-size: 25px;
        margin-bottom: 40px;
    }
    .clients-bg {
        height: 320px;
        margin-bottom: 20px;
    }
    .client-feedback .owl-dots {
        bottom: -20px;
        left: 50%;
        margin-left: -20px;
    } 
    .footer-area h4 {
        font-size: 18px;
        margin-top: 35px;
    }

    .member-social-bookmarks ul a {
        height: 26px;
        line-height: 26px;
        width: 26px;
    }
    .about-hero-page{height: 300px;}


    .childLeft-wrpper .video-right-area {
        margin-top: 30px;
        padding-left: 0;
    }
    .childLeft-Bottom-planning-section .absolute-paragraph {
        font-size: 13px;
        margin-bottom: 10px; 
    }
    .highLight-offer {
        margin-top: 25px;
        font-size: 13px;
        padding: 16px 30px;

    }
    .child-services > h3 {
        margin-bottom: 15px;
    }

    .child-services {
        margin-top: 30px;
    }
    .download-area {
        margin-bottom: 50px;

    }
    .childClient-comment-wrap {
        margin-bottom: 50px;
        margin-top: 40px;
    }
    .fitering-see-More {
        padding-top: 50px;
    }


    .single-planning-calender img {
        margin-bottom: 15px;
    }
    .pagination-wrap {
        margin-top: 40px;
    }

    .RightSide-barSection form {
        margin-bottom: 30px;
        margin-top: 40px;
    }
    .shareable-area.clearfix {

        margin: 50px auto 60px;
        text-align: center;

    }

    .shareable-area .col-sm-5.text-right {
        margin-top: 5px;
        text-align: center;
    }

    .section-padding.error-section {
        display: table;
        width: 100%;
    }
    .error-tableCell {
        display: table-cell;
        vertical-align: middle;
    }
    .error-tableCell h2 {
        font-family: open sans;
        font-size: 60px;
    }
    .error-tableCell h3 {
        font-family: open sans;
        font-size: 35px;
        text-transform: uppercase;
        margin-top: 30px;
    }
    .error-Content > h4 {
        color: #999;
        font-size: 20px;
        text-transform: capitalize;
        margin-top: 50px;
    }
    .error-btn {
        margin-top: 30px;
    }

    .advisor-contactDetails {
        margin-top: 30px;
    }
    .advisor-locationDetails {
        margin-top: 35px;
    }
    .send-messageBox {
        margin-top: 40px;
    }
    .advisor-wrapper h4 {
        font-size: 18px;

    }
    .advisor-contactDetails > h2 {
        font-size: 22px;

    }
    .advisor-detailsArea h4 {
        margin-bottom: 20px;
        margin-top: 40px;
    }
    .advisor-photo-wrap img{width: 100%}
    .product-area-wrapper .pagination-wrap {
        margin-top: -35px;
    }
    .productCart {
        margin-top: 30px;
        text-align: center;
        transform: none;
    }



    .productCart table {
        margin: auto;
    }
    .productCart tr td {
        margin-right: 10px;

    }
    .productCart h3 {
        font-size: 20px;
    }

    .productCart .price {

        font-size: 18px;
        margin-bottom: 5px;
        margin-top: 10px;
    }


    .productCart tr:first-child {

        margin-bottom: 15px;
    }  


    .cart-btn {
        margin-top: 20px;
    }

    .custom-tab-list a {
        font-size: 18px;
        margin-top: 10px;
        padding-bottom: 14px;
    }



    .cartBtn-wrap.clearfix .cart-btn2, .cartBtn-wrap input {
        margin-left: 0;
        margin-top: 20px;
        text-align: center;
        width: 100%;
    }
    .cartBtn-wrap.clearfix .cart-btn2:hover {
        box-shadow: none;
        background: white;
        color: #1A8BB3;
        border-color: #1A8BB3;
    }

    .cart-calculateRightWrap {

        margin-top: 60px;
    }
    .cartBtn-wrap.clearfix .cart-btn2, .cartBtn-wrap input,.cart-calculateRightWrap + .row a.cart-btn2 {
        margin-left: 0;
        margin-top: 20px;
        text-align: center;
        width: 100%;
    }
    .cartBtn-wrap.clearfix .cart-btn2:hover,.cart-calculateLeftWrap input[type="submit"]:hover,.cart-calculateRightWrap + .row a.cart-btn2:hover {
        box-shadow: none;
        background: white;
        color: #1A8BB3;
        border-color: #1A8BB3;
    }

    .cart-calculateLeftWrap input[type="submit"] {
        width: 100%;
    }
    .productCart-heading{display: none}

    .productCart-details .col-sm-2.col-xs-4 {
        height: 70px;
    }

    .cartBtn-wrap.clearfix {

        margin-top: 30px;
    }

    #xsHeight90 {
        height: 90px !important;
    }
    .billingDetails {
        margin-bottom: 40px;
    }
    .shippingAdressWrapper .cart-page-wrapper {
        margin-bottom: 30px;
    }
    .message-box {
        margin-top: 50px;
    }
    .message-box textarea {
        margin-top: 5px;

    }

    .paymentInformationWrap {
        margin-top: 50px;
    }


}
/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) { 

}